# Complete Pandas Mastery Notebook for Data Science & Machine Learning
# ========================================================================

PANDAS MASTERY NOTEBOOK
=======================

This comprehensive notebook covers all essential Pandas operations for Data Science and Machine Learning.
Each section builds upon the previous one to create a complete learning path.

RECOMMENDED DATASETS FOR PRACTICE:
1. Kaggle Datasets: https://www.kaggle.com/datasets (Free account required)
   - Titanic Dataset: https://www.kaggle.com/c/titanic/data
   - House Prices: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data
   - Iris Dataset: Built into sklearn
   E.g: from sklearn.datasets import load_iris; 
        iris_df = pd.DataFrame(load_iris().data, columns=load_iris().feature_names)
   
2. UCI Machine Learning Repository: https://archive.ics.uci.edu/ml/datasets.php
   - Adult Income Dataset
   - Wine Quality Dataset
   - Boston Housing Dataset

3. Seaborn Built-in Datasets (accessible via seaborn.load_dataset())
   - tips, flights, car_crashes, mpg, etc.
    e.g:
        tips_df = sns.load_dataset('tips')
        flights_df = sns.load_dataset('flights')
        car_crashes_df = sns.load_dataset('car_crashes')
        mpg_df = sns.load_dataset('mpg')
        titanic_df = sns.load_dataset('titanic')
    
    ### Additional popular datasets from seaborn library
        penguins_df = sns.load_dataset('penguins')  # Palmer penguins data
        diamonds_df = sns.load_dataset('diamonds')  # Diamond characteristics
        exercise_df = sns.load_dataset('exercise')  # Exercise and diet data
        fmri_df = sns.load_dataset('fmri')  # fMRI brain imaging data

    ###Quick Setup for students
    # Import required libraries first
        import pandas as pd
        import seaborn as sns
        from sklearn.datasets import load_iris

        # Then use any of the one-liners above

4. Government Data: https://data.gov
5. Google Dataset Search: https://datasetsearch.research.google.com

For this notebook, we'll use one sample dataset to demonstrate different concepts. You are free to choose any dataset above and practice all the concepts based on this and my classroom examples like titanic and apple stock data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

# Set display options for better output
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

print("=== PANDAS MASTERY NOTEBOOK ===")
print("Version: Pandas", pd.__version__)
print("NumPy Version:", np.__version__)
print("\n" + "="*50)

=== PANDAS MASTERY NOTEBOOK ===
Version: Pandas 2.2.3
NumPy Version: 2.1.3

==================================================

In [2]:
# ========================================================================
# SECTION 1: DATA CREATION AND IMPORT/EXPORT
# ========================================================================

print("\nüìä SECTION 1: DATA CREATION AND IMPORT/EXPORT")
print("-" * 50)

# 1.1 Creating DataFrames from scratch
print("\n1.1 Creating DataFrames")

# Dictionary method
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney'],
    'Salary': [50000, 60000, 70000, 55000, 65000],
    'Department': ['IT', 'Finance', 'IT', 'HR', 'Finance']
}
df_employees = pd.DataFrame(data_dict)
print("Employee DataFrame:")
print(df_employees)

# 1.2 Creating from lists
print("\n1.2 Creating from lists of lists")
data_list = [
    ['Product A', 100, 25.50],
    ['Product B', 150, 30.00],
    ['Product C', 75, 18.75],
    ['Product D', 200, 45.00]
]
df_products = pd.DataFrame(data_list, columns=['Product', 'Quantity', 'Price'])
print("Products DataFrame:")
print(df_products)

# 1.3 Creating Series
print("\n1.3 Creating Series")
s_temperatures = pd.Series([20, 25, 30, 35, 40], 
                          index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
                          name='Temperature')
print("Temperature Series:")
print(s_temperatures)

# 1.4 Date range creation
print("\n1.4 Creating date ranges")
date_range = pd.date_range(start='2024-01-01', end='2024-01-10', freq='D')
df_dates = pd.DataFrame({'Date': date_range, 'Value': np.random.randn(len(date_range))})
print("Date DataFrame:")
print(df_dates.head())

# 1.5 File operations examples (commented out - requires actual files)
print("\n1.5 File I/O Operations (Examples)")
print("""
# Reading files
df = pd.read_csv('data.csv')
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')
df = pd.read_json('data.json')
df = pd.read_sql('SELECT * FROM table', connection)

# Writing files
df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False, sheet_name='Data')
df.to_json('output.json', orient='records')
df.to_parquet('output.parquet')
""")

üìä SECTION 1: DATA CREATION AND IMPORT/EXPORT
--------------------------------------------------

1.1 Creating DataFrames
Employee DataFrame:
      Name  Age      City  Salary Department
0    Alice   25  New York   50000         IT
1      Bob   30    London   60000    Finance
2  Charlie   35     Paris   70000         IT
3    Diana   28     Tokyo   55000         HR
4      Eve   32    Sydney   65000    Finance

1.2 Creating from lists of lists
Products DataFrame:
     Product  Quantity  Price
0  Product A       100  25.50
1  Product B       150  30.00
2  Product C        75  18.75
3  Product D       200  45.00

1.3 Creating Series
Temperature Series:
Mon    20
Tue    25
Wed    30
Thu    35
Fri    40
Name: Temperature, dtype: int64

1.4 Creating date ranges
Date DataFrame:
        Date     Value
0 2024-01-01 -0.348918
1 2024-01-02 -0.743989
2 2024-01-03 -1.079706
3 2024-01-04  1.352312
4 2024-01-05 -1.242399

1.5 File I/O Operations (Examples)

# Reading files
df = pd.read_csv('data.csv')
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')
df = pd.read_json('data.json')
df = pd.read_sql('SELECT * FROM table', connection)

# Writing files
df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False, sheet_name='Data')
df.to_json('output.json', orient='records')
df.to_parquet('output.parquet')

In [3]:
# ========================================================================
# SECTION 2: DATA EXPLORATION AND INSPECTION
# ========================================================================

print("\n\nüîç SECTION 2: DATA EXPLORATION AND INSPECTION")
print("-" * 50)

# 2.1 Basic information
print("\n2.1 Basic DataFrame Information")
print(f"Shape: {df_employees.shape}")
print(f"Columns: {list(df_employees.columns)}")
print(f"Data types:\n{df_employees.dtypes}")
print(f"Memory usage:\n{df_employees.memory_usage(deep=True)}")

# 2.2 Statistical summary
print("\n2.2 Statistical Summary")
print(df_employees.describe())
print("\nInfo about the DataFrame:")
df_employees.info()

# 2.3 Viewing data
print("\n2.3 Viewing Data")
print("First 3 rows:")
print(df_employees.head(3))
print("\nLast 2 rows:")
print(df_employees.tail(2))
print("\nRandom sample (2 rows):")
print(df_employees.sample(2))

# 2.4 Unique values and counts
print("\n2.4 Unique Values and Counts")
print(f"Unique departments: {df_employees['Department'].unique()}")
print(f"Department counts:\n{df_employees['Department'].value_counts()}")
print(f"Number of unique cities: {df_employees['City'].nunique()}")

üîç SECTION 2: DATA EXPLORATION AND INSPECTION
--------------------------------------------------

2.1 Basic DataFrame Information
Shape: (5, 5)
Columns: ['Name', 'Age', 'City', 'Salary', 'Department']
Data types:
Name          object
Age            int64
City          object
Salary         int64
Department    object
dtype: object
Memory usage:
Index         132
Name          308
Age            40
City          315
Salary         40
Department    305
dtype: int64

2.2 Statistical Summary
             Age       Salary
count   5.000000      5.00000
mean   30.000000  60000.00000
std     3.807887   7905.69415
min    25.000000  50000.00000
25%    28.000000  55000.00000
50%    30.000000  60000.00000
75%    32.000000  65000.00000
max    35.000000  70000.00000

Info about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   City        5 non-null      object
 3   Salary      5 non-null      int64
 4   Department  5 non-null      object
dtypes: int64(2), object(3)
memory usage: 332.0+ bytes

2.3 Viewing Data
First 3 rows:
      Name  Age      City  Salary Department
0    Alice   25  New York   50000         IT
1      Bob   30    London   60000    Finance
2  Charlie   35     Paris   70000         IT

Last 2 rows:
    Name  Age    City  Salary Department
3  Diana   28   Tokyo   55000         HR
4    Eve   32  Sydney   65000    Finance

Random sample (2 rows):
  Name  Age    City  Salary Department
4  Eve   32  Sydney   65000    Finance
1  Bob   30  London   60000    Finance

2.4 Unique Values and Counts
Unique departments: ['IT' 'Finance' 'HR']
Department counts:
Department
IT         2
Finance    2
HR         1
Name: count, dtype: int64
Number of unique cities: 5

In [4]:
# ========================================================================
# SECTION 3: DATA SELECTION AND INDEXING
# ========================================================================

print("\n\nüéØ SECTION 3: DATA SELECTION AND INDEXING")
print("-" * 50)

# 3.1 Column selection
print("\n3.1 Column Selection")
print("Single column (Series):")
print(df_employees['Name'])
print("\nMultiple columns (DataFrame):")
print(df_employees[['Name', 'Salary']])

# 3.2 Row selection
print("\n3.2 Row Selection")
print("Row by index (iloc):")
print(df_employees.iloc[0])
print("\nMultiple rows by index:")
print(df_employees.iloc[1:4])
print("\nRow by label (loc):")
print(df_employees.loc[2])

# 3.3 Conditional selection
print("\n3.3 Conditional Selection")
high_salary = df_employees[df_employees['Salary'] > 60000]
print("Employees with salary > 60000:")
print(high_salary)

it_employees = df_employees[df_employees['Department'] == 'IT']
print("\nIT Department employees:")
print(it_employees)

# Multiple conditions
young_high_earners = df_employees[(df_employees['Age'] < 30) & (df_employees['Salary'] > 50000)]
print("\nYoung high earners (Age < 30 AND Salary > 50000):")
print(young_high_earners)

# 3.4 Boolean indexing
print("\n3.4 Boolean Indexing")
mask = df_employees['City'].isin(['New York', 'London'])
print("Employees in New York or London:")
print(df_employees[mask])

# 3.5 Query method
print("\n3.5 Query Method")
result = df_employees.query("Age > 30 and Department == 'Finance'")
print("Query result (Age > 30 and Department == 'Finance'):")
print(result)

üéØ SECTION 3: DATA SELECTION AND INDEXING
--------------------------------------------------

3.1 Column Selection
Single column (Series):
0      Alice
1        Bob
2    Charlie
3      Diana
4        Eve
Name: Name, dtype: object

Multiple columns (DataFrame):
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000
3    Diana   55000
4      Eve   65000

3.2 Row Selection
Row by index (iloc):
Name             Alice
Age                 25
City          New York
Salary           50000
Department          IT
Name: 0, dtype: object

Multiple rows by index:
      Name  Age    City  Salary Department
1      Bob   30  London   60000    Finance
2  Charlie   35   Paris   70000         IT
3    Diana   28   Tokyo   55000         HR

Row by label (loc):
Name          Charlie
Age                35
City            Paris
Salary          70000
Department         IT
Name: 2, dtype: object

3.3 Conditional Selection
Employees with salary > 60000:
      Name  Age    City  Salary Department
2  Charlie   35   Paris   70000         IT
4      Eve   32  Sydney   65000    Finance

IT Department employees:
      Name  Age      City  Salary Department
0    Alice   25  New York   50000         IT
2  Charlie   35     Paris   70000         IT

Young high earners (Age < 30 AND Salary > 50000):
    Name  Age   City  Salary Department
3  Diana   28  Tokyo   55000         HR

3.4 Boolean Indexing
Employees in New York or London:
    Name  Age      City  Salary Department
0  Alice   25  New York   50000         IT
1    Bob   30    London   60000    Finance

3.5 Query Method
Query result (Age > 30 and Department == 'Finance'):
  Name  Age    City  Salary Department
4  Eve   32  Sydney   65000    Finance

In [6]:
# ========================================================================
# SECTION 4: DATA CLEANING AND PREPROCESSING
# ========================================================================

print("\n\nüßπ SECTION 4: DATA CLEANING AND PREPROCESSING")
print("-" * 50)

# 4.1 Creating sample data with missing values
print("\n4.1 Handling Missing Values")
df_dirty = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, np.nan],
    'C': [1, 2, 3, np.nan, 5],
    'D': ['a', 'b', 'c', 'd', 'e']
})
print("DataFrame with missing values:")
print(df_dirty)

# Check for missing values
print(f"\nMissing values count:\n{df_dirty.isnull().sum()}")
print(f"Total missing values: {df_dirty.isnull().sum().sum()}")

# Drop missing values
print("\nAfter dropping rows with any missing values:")
print(df_dirty.dropna())

print("\nAfter dropping columns with any missing values:")
print(df_dirty.dropna(axis=1))

# Fill missing values
print("\nFilling missing values with 0:")
print(df_dirty.fillna(0))

print("\nForward fill:")
print(df_dirty.fillna(method='ffill'))

print("\nFilling with column mean (numeric columns only):")
# Fix: Only calculate mean for numeric columns
numeric_cols = df_dirty.select_dtypes(include=[np.number]).columns
df_filled = df_dirty.copy()
df_filled[numeric_cols] = df_filled[numeric_cols].fillna(df_dirty[numeric_cols].mean())
print(df_filled)

# Alternative approach - fill each column appropriately
print("\nSmart filling (different strategies for different data types):")
df_smart_filled = df_dirty.copy()
# Fill numeric columns with mean
numeric_columns = df_smart_filled.select_dtypes(include=[np.number]).columns
df_smart_filled[numeric_columns] = df_smart_filled[numeric_columns].fillna(df_smart_filled[numeric_columns].mean())
# Fill categorical/string columns with mode or a default value
categorical_columns = df_smart_filled.select_dtypes(include=['object']).columns
for col in categorical_columns:
    df_smart_filled[col] = df_smart_filled[col].fillna(df_smart_filled[col].mode()[0] if not df_smart_filled[col].mode().empty else 'Unknown')
print(df_smart_filled)

# 4.2 Duplicates
print("\n4.2 Handling Duplicates")
df_with_dupes = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie'],
    'Age': [25, 30, 25, 35],
    'City': ['New York', 'London', 'New York', 'Paris']
})
print("DataFrame with duplicates:")
print(df_with_dupes)

print(f"\nDuplicate rows: {df_with_dupes.duplicated().sum()}")
print("After removing duplicates:")
print(df_with_dupes.drop_duplicates())

# 4.3 Data type conversion
print("\n4.3 Data Type Conversion")
df_convert = pd.DataFrame({
    'Numbers': ['1', '2', '3', '4'],
    'Dates': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04'],
    'Categories': ['A', 'B', 'A', 'C']
})
print("Original data types:")
print(df_convert.dtypes)

# Convert data types
df_convert['Numbers'] = pd.to_numeric(df_convert['Numbers'])
df_convert['Dates'] = pd.to_datetime(df_convert['Dates'])
df_convert['Categories'] = df_convert['Categories'].astype('category')

print("\nAfter conversion:")
print(df_convert.dtypes)

# 4.4 String operations
print("\n4.4 String Operations")
df_text = pd.DataFrame({'Text': ['  Hello World  ', 'PYTHON pandas', 'Data Science!', 'machine learning']})
print("Original text:")
print(df_text)

# String cleaning
df_text['Cleaned'] = df_text['Text'].str.strip().str.lower().str.title()
df_text['Length'] = df_text['Text'].str.len()
df_text['Contains_Data'] = df_text['Text'].str.contains('Data', case=False)
print("\nAfter string operations:")
print(df_text)

üßπ SECTION 4: DATA CLEANING AND PREPROCESSING
--------------------------------------------------

4.1 Handling Missing Values
DataFrame with missing values:
     A    B    C  D
0  1.0  NaN  1.0  a
1  2.0  2.0  2.0  b
2  NaN  3.0  3.0  c
3  4.0  4.0  NaN  d
4  5.0  NaN  5.0  e

Missing values count:
A    1
B    2
C    1
D    0
dtype: int64
Total missing values: 4

After dropping rows with any missing values:
     A    B    C  D
1  2.0  2.0  2.0  b

After dropping columns with any missing values:
   D
0  a
1  b
2  c
3  d
4  e

Filling missing values with 0:
     A    B    C  D
0  1.0  0.0  1.0  a
1  2.0  2.0  2.0  b
2  0.0  3.0  3.0  c
3  4.0  4.0  0.0  d
4  5.0  0.0  5.0  e

Forward fill:
     A    B    C  D
0  1.0  NaN  1.0  a
1  2.0  2.0  2.0  b
2  2.0  3.0  3.0  c
3  4.0  4.0  3.0  d
4  5.0  4.0  5.0  e

Filling with column mean (numeric columns only):
     A    B     C  D
0  1.0  3.0  1.00  a
1  2.0  2.0  2.00  b
2  3.0  3.0  3.00  c
3  4.0  4.0  2.75  d
4  5.0  3.0  5.00  e

Smart filling (different strategies for different data types):
     A    B     C  D
0  1.0  3.0  1.00  a
1  2.0  2.0  2.00  b
2  3.0  3.0  3.00  c
3  4.0  4.0  2.75  d
4  5.0  3.0  5.00  e

4.2 Handling Duplicates
DataFrame with duplicates:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2    Alice   25  New York
3  Charlie   35     Paris

Duplicate rows: 1
After removing duplicates:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
3  Charlie   35     Paris

4.3 Data Type Conversion
Original data types:
Numbers       object
Dates         object
Categories    object
dtype: object

After conversion:
Numbers                int64
Dates         datetime64[ns]
Categories          category
dtype: object

4.4 String Operations
Original text:
               Text
0     Hello World
1     PYTHON pandas
2     Data Science!
3  machine learning

After string operations:
               Text           Cleaned  Length  Contains_Data
0     Hello World         Hello World      15          False
1     PYTHON pandas     Python Pandas      13          False
2     Data Science!     Data Science!      13           True
3  machine learning  Machine Learning      16          False

In [7]:
# ========================================================================
# SECTION 5: DATA TRANSFORMATION AND MANIPULATION
# ========================================================================

print("\n\nüîß SECTION 5: DATA TRANSFORMATION AND MANIPULATION")
print("-" * 50)

# 5.1 Adding new columns
print("\n5.1 Adding New Columns")
df_employees_copy = df_employees.copy()
df_employees_copy['Salary_Category'] = df_employees_copy['Salary'].apply(
    lambda x: 'High' if x > 60000 else 'Medium' if x > 50000 else 'Low'
)
df_employees_copy['Name_Length'] = df_employees_copy['Name'].str.len()
df_employees_copy['Age_Group'] = pd.cut(df_employees_copy['Age'], 
                                       bins=[0, 30, 40, 100], 
                                       labels=['Young', 'Middle', 'Senior'])
print("DataFrame with new columns:")
print(df_employees_copy)

# 5.2 Renaming columns and indices
print("\n5.2 Renaming Columns and Indices")
df_renamed = df_employees.rename(columns={'Name': 'Employee_Name', 'Age': 'Employee_Age'})
print("Renamed columns:")
print(df_renamed.columns.tolist())

# 5.3 Sorting
print("\n5.3 Sorting Data")
print("Sorted by Salary (ascending):")
print(df_employees.sort_values('Salary'))

print("\nSorted by Age (descending), then by Salary (ascending):")
print(df_employees.sort_values(['Age', 'Salary'], ascending=[False, True]))

# 5.4 Ranking
print("\n5.4 Ranking")
df_employees_copy['Salary_Rank'] = df_employees_copy['Salary'].rank(ascending=False)
print("With salary rankings:")
print(df_employees_copy[['Name', 'Salary', 'Salary_Rank']])

üîß SECTION 5: DATA TRANSFORMATION AND MANIPULATION
--------------------------------------------------

5.1 Adding New Columns
DataFrame with new columns:
      Name  Age      City  Salary Department Salary_Category  Name_Length  \
0    Alice   25  New York   50000         IT             Low            5
1      Bob   30    London   60000    Finance          Medium            3
2  Charlie   35     Paris   70000         IT            High            7
3    Diana   28     Tokyo   55000         HR          Medium            5
4      Eve   32    Sydney   65000    Finance            High            3

  Age_Group
0     Young
1     Young
2    Middle
3     Young
4    Middle

5.2 Renaming Columns and Indices
Renamed columns:
['Employee_Name', 'Employee_Age', 'City', 'Salary', 'Department']

5.3 Sorting Data
Sorted by Salary (ascending):
      Name  Age      City  Salary Department
0    Alice   25  New York   50000         IT
3    Diana   28     Tokyo   55000         HR
1      Bob   30    London   60000    Finance
4      Eve   32    Sydney   65000    Finance
2  Charlie   35     Paris   70000         IT

Sorted by Age (descending), then by Salary (ascending):
      Name  Age      City  Salary Department
2  Charlie   35     Paris   70000         IT
4      Eve   32    Sydney   65000    Finance
1      Bob   30    London   60000    Finance
3    Diana   28     Tokyo   55000         HR
0    Alice   25  New York   50000         IT

5.4 Ranking
With salary rankings:
      Name  Salary  Salary_Rank
0    Alice   50000          5.0
1      Bob   60000          3.0
2  Charlie   70000          1.0
3    Diana   55000          4.0
4      Eve   65000          2.0

In [8]:
# ========================================================================
# SECTION 6: GROUPBY OPERATIONS AND AGGREGATIONS
# ========================================================================

print("\n\nüìä SECTION 6: GROUPBY OPERATIONS AND AGGREGATIONS")
print("-" * 50)

# 6.1 Basic groupby
print("\n6.1 Basic GroupBy Operations")
dept_groups = df_employees.groupby('Department')
print("Average salary by department:")
print(dept_groups['Salary'].mean())

print("\nMultiple aggregations:")
print(dept_groups.agg({
    'Salary': ['mean', 'max', 'min'],
    'Age': ['mean', 'count']
}))

# 6.2 Creating more complex sample data
print("\n6.2 Complex Aggregations")
sales_data = pd.DataFrame({
    'Date': pd.date_range('2024-01-01', periods=100, freq='D'),
    'Product': np.random.choice(['A', 'B', 'C'], 100),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 100),
    'Sales': np.random.randint(100, 1000, 100),
    'Quantity': np.random.randint(1, 20, 100)
})

print("Sample sales data:")
print(sales_data.head())

# Multiple groupby
print("\nSales by Product and Region:")
product_region_sales = sales_data.groupby(['Product', 'Region'])['Sales'].sum().unstack()
print(product_region_sales)

# 6.3 Custom aggregation functions
print("\n6.3 Custom Aggregation Functions")
def range_calc(x):
    return x.max() - x.min()

custom_agg = sales_data.groupby('Product').agg({
    'Sales': ['sum', 'mean', range_calc],
    'Quantity': ['sum', 'std']
})
print("Custom aggregations:")
print(custom_agg)

# 6.4 Transform and apply
print("\n6.4 Transform and Apply")
sales_data['Sales_Zscore'] = sales_data.groupby('Product')['Sales'].transform(
    lambda x: (x - x.mean()) / x.std()
)
print("Sales with Z-scores by product:")
print(sales_data[['Product', 'Sales', 'Sales_Zscore']].head(10))

üìä SECTION 6: GROUPBY OPERATIONS AND AGGREGATIONS
--------------------------------------------------

6.1 Basic GroupBy Operations
Average salary by department:
Department
Finance    62500.0
HR         55000.0
IT         60000.0
Name: Salary, dtype: float64

Multiple aggregations:
             Salary                 Age
               mean    max    min  mean count
Department
Finance     62500.0  65000  60000  31.0     2
HR          55000.0  55000  55000  28.0     1
IT          60000.0  70000  50000  30.0     2

6.2 Complex Aggregations
Sample sales data:
        Date Product Region  Sales  Quantity
0 2024-01-01       C   West    922         7
1 2024-01-02       C  South    470        17
2 2024-01-03       B   West    395         4
3 2024-01-04       C   East    734         8
4 2024-01-05       A  South    559        10

Sales by Product and Region:
Region   East  North  South  West
Product
A        4787   6087   4244  3499
B        4963   4376   4313  2465
C        5827   3241   4357  6929

6.3 Custom Aggregation Functions
Custom aggregations:
         Sales                        Quantity
           sum        mean range_calc      sum       std
Product
A        18617  564.151515        873      354  5.185754
B        16117  519.903226        869      286  4.897004
C        20354  565.388889        847      342  5.848077

6.4 Transform and Apply
Sales with Z-scores by product:
  Product  Sales  Sales_Zscore
0       C    922      1.335317
1       C    470     -0.357180
2       B    395     -0.453947
3       C    734      0.631358
4       A    559     -0.022121
5       C    430     -0.506959
6       C    160     -1.517963
7       B    360     -0.581151
8       A    388     -0.756420
9       A    680      0.497470

In [9]:
# ========================================================================
# SECTION 7: MERGING, JOINING, AND CONCATENATING
# ========================================================================

print("\n\nüîó SECTION 7: MERGING, JOINING, AND CONCATENATING")
print("-" * 50)

# 7.1 Creating sample datasets for merging
print("\n7.1 Sample Data for Merging")
df_customers = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4, 5],
    'Name': ['Alice Johnson', 'Bob Smith', 'Charlie Brown', 'Diana Prince', 'Eve Adams'],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
})

df_orders = pd.DataFrame({
    'OrderID': [101, 102, 103, 104, 105, 106],
    'CustomerID': [1, 2, 2, 3, 4, 6],  # Note: CustomerID 6 doesn't exist in customers
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Tablet', 'Phone'],
    'Amount': [1000, 25, 75, 300, 500, 800]
})

print("Customers:")
print(df_customers)
print("\nOrders:")
print(df_orders)

# 7.2 Different types of joins
print("\n7.2 Different Types of Joins")

# Inner join
inner_join = pd.merge(df_customers, df_orders, on='CustomerID', how='inner')
print("Inner Join:")
print(inner_join)

# Left join
left_join = pd.merge(df_customers, df_orders, on='CustomerID', how='left')
print("\nLeft Join:")
print(left_join)

# Right join
right_join = pd.merge(df_customers, df_orders, on='CustomerID', how='right')
print("\nRight Join:")
print(right_join)

# Outer join
outer_join = pd.merge(df_customers, df_orders, on='CustomerID', how='outer')
print("\nOuter Join:")
print(outer_join)

# 7.3 Concatenating DataFrames
print("\n7.3 Concatenating DataFrames")
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})

print("Vertical concatenation:")
print(pd.concat([df1, df2], ignore_index=True))

print("\nHorizontal concatenation:")
print(pd.concat([df1, df3], axis=1))

üîó SECTION 7: MERGING, JOINING, AND CONCATENATING
--------------------------------------------------

7.1 Sample Data for Merging
Customers:
   CustomerID           Name      City
0           1  Alice Johnson  New York
1           2      Bob Smith    London
2           3  Charlie Brown     Paris
3           4   Diana Prince     Tokyo
4           5      Eve Adams    Sydney

Orders:
   OrderID  CustomerID   Product  Amount
0      101           1    Laptop    1000
1      102           2     Mouse      25
2      103           2  Keyboard      75
3      104           3   Monitor     300
4      105           4    Tablet     500
5      106           6     Phone     800

7.2 Different Types of Joins
Inner Join:
   CustomerID           Name      City  OrderID   Product  Amount
0           1  Alice Johnson  New York      101    Laptop    1000
1           2      Bob Smith    London      102     Mouse      25
2           2      Bob Smith    London      103  Keyboard      75
3           3  Charlie Brown     Paris      104   Monitor     300
4           4   Diana Prince     Tokyo      105    Tablet     500

Left Join:
   CustomerID           Name      City  OrderID   Product  Amount
0           1  Alice Johnson  New York    101.0    Laptop  1000.0
1           2      Bob Smith    London    102.0     Mouse    25.0
2           2      Bob Smith    London    103.0  Keyboard    75.0
3           3  Charlie Brown     Paris    104.0   Monitor   300.0
4           4   Diana Prince     Tokyo    105.0    Tablet   500.0
5           5      Eve Adams    Sydney      NaN       NaN     NaN

Right Join:
   CustomerID           Name      City  OrderID   Product  Amount
0           1  Alice Johnson  New York      101    Laptop    1000
1           2      Bob Smith    London      102     Mouse      25
2           2      Bob Smith    London      103  Keyboard      75
3           3  Charlie Brown     Paris      104   Monitor     300
4           4   Diana Prince     Tokyo      105    Tablet     500
5           6            NaN       NaN      106     Phone     800

Outer Join:
   CustomerID           Name      City  OrderID   Product  Amount
0           1  Alice Johnson  New York    101.0    Laptop  1000.0
1           2      Bob Smith    London    102.0     Mouse    25.0
2           2      Bob Smith    London    103.0  Keyboard    75.0
3           3  Charlie Brown     Paris    104.0   Monitor   300.0
4           4   Diana Prince     Tokyo    105.0    Tablet   500.0
5           5      Eve Adams    Sydney      NaN       NaN     NaN
6           6            NaN       NaN    106.0     Phone   800.0

7.3 Concatenating DataFrames
Vertical concatenation:
   A  B
0  1  3
1  2  4
2  5  7
3  6  8

Horizontal concatenation:
   A  B   C   D
0  1  3   9  11
1  2  4  10  12

In [11]:
# ========================================================================
# SECTION 8: PIVOT TABLES AND RESHAPING
# ========================================================================

print("\n\nüîÑ SECTION 8: PIVOT TABLES AND RESHAPING")
print("-" * 50)

# 8.1 Pivot tables
print("\n8.1 Pivot Tables")
pivot_table = sales_data.pivot_table(
    values='Sales',
    index='Product',
    columns='Region',
    aggfunc='sum',
    fill_value=0
)
print("Pivot table (Sales by Product and Region):")
print(pivot_table)

# 8.2 Melting (wide to long)
print("\n8.2 Melting Data")
wide_data = pd.DataFrame({
    'ID': [1, 2, 3],
    'Jan': [100, 200, 150],
    'Feb': [110, 190, 160],
    'Mar': [120, 210, 140]
})
print("Wide format:")
print(wide_data)

long_data = pd.melt(wide_data, id_vars=['ID'], var_name='Month', value_name='Sales')
print("\nLong format (melted):")
print(long_data)

# 8.3 Stacking and unstacking
print("\n8.3 Stacking and Unstacking")

# Fix: Create MultiIndex without duplicates by using reset_index and adding a unique identifier
print("Creating sample MultiIndex data without duplicates:")
sample_multi_data = sales_data.head(20).copy().reset_index(drop=True)
sample_multi_data['ID'] = range(len(sample_multi_data))  # Add unique identifier
multi_index_df = sample_multi_data.set_index(['Product', 'Region', 'ID'])['Sales']
print("MultiIndex Series (with unique index):")
print(multi_index_df.head(10))

print("\nUnstacked (to DataFrame):")
unstacked_result = multi_index_df.unstack(level='Region')
print(unstacked_result.head())

# Alternative approach: Aggregate duplicates before unstacking
print("\n8.3.1 Alternative: Handling Duplicates by Aggregating")
# Group by Product and Region, then sum the sales to remove duplicates
aggregated_sales = sales_data.groupby(['Product', 'Region'])['Sales'].sum()
print("Aggregated sales (no duplicates):")
print(aggregated_sales.head(10))

print("\nUnstacked aggregated data:")
unstacked_aggregated = aggregated_sales.unstack(fill_value=0)
print(unstacked_aggregated)

# 8.3.2 Stacking example
print("\n8.3.2 Stacking Example")
# Create a simple DataFrame to demonstrate stacking
stack_demo = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}, index=['X', 'Y', 'Z'])

print("Original DataFrame:")
print(stack_demo)

stacked = stack_demo.stack()
print("\nStacked (DataFrame to Series):")
print(stacked)

print("\nUnstacked back to DataFrame:")
print(stacked.unstack())

# 8.3.3 Working with real MultiIndex data
print("\n8.3.3 MultiIndex Operations with Time Series")
# Create a proper time series MultiIndex example
dates = pd.date_range('2024-01-01', periods=10, freq='D')
products = ['A', 'B']
regions = ['North', 'South']

# Create combinations without duplicates
time_series_data = []
for date in dates[:5]:  # Use fewer dates to avoid too much output
    for product in products:
        for region in regions:
            time_series_data.append({
                'Date': date,
                'Product': product,
                'Region': region,
                'Sales': np.random.randint(100, 1000)
            })

ts_df = pd.DataFrame(time_series_data)
ts_multiindex = ts_df.set_index(['Date', 'Product', 'Region'])['Sales']

print("Time series MultiIndex:")
print(ts_multiindex.head(8))

print("\nUnstack by Region:")
ts_unstacked = ts_multiindex.unstack(level='Region')
print(ts_unstacked.head())

print("\nUnstack by Product:")
ts_unstacked_product = ts_multiindex.unstack(level='Product')
print(ts_unstacked_product.head())

üîÑ SECTION 8: PIVOT TABLES AND RESHAPING
--------------------------------------------------

8.1 Pivot Tables
Pivot table (Sales by Product and Region):
Region   East  North  South  West
Product
A        4787   6087   4244  3499
B        4963   4376   4313  2465
C        5827   3241   4357  6929

8.2 Melting Data
Wide format:
   ID  Jan  Feb  Mar
0   1  100  110  120
1   2  200  190  210
2   3  150  160  140

Long format (melted):
   ID Month  Sales
0   1   Jan    100
1   2   Jan    200
2   3   Jan    150
3   1   Feb    110
4   2   Feb    190
5   3   Feb    160
6   1   Mar    120
7   2   Mar    210
8   3   Mar    140

8.3 Stacking and Unstacking
Creating sample MultiIndex data without duplicates:
MultiIndex Series (with unique index):
Product  Region  ID
C        West    0     922
         South   1     470
B        West    2     395
C        East    3     734
A        South   4     559
C        North   5     430
                 6     160
B        South   7     360
A        South   8     388
                 9     680
Name: Sales, dtype: int64

Unstacked (to DataFrame):
Region      East  North  South   West
Product ID
A       4    NaN    NaN  559.0    NaN
        8    NaN    NaN  388.0    NaN
        9    NaN    NaN  680.0    NaN
        10   NaN  373.0    NaN    NaN
        11   NaN    NaN    NaN  709.0

8.3.1 Alternative: Handling Duplicates by Aggregating
Aggregated sales (no duplicates):
Product  Region
A        East      4787
         North     6087
         South     4244
         West      3499
B        East      4963
         North     4376
         South     4313
         West      2465
C        East      5827
         North     3241
Name: Sales, dtype: int64

Unstacked aggregated data:
Region   East  North  South  West
Product
A        4787   6087   4244  3499
B        4963   4376   4313  2465
C        5827   3241   4357  6929

8.3.2 Stacking Example
Original DataFrame:
   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

Stacked (DataFrame to Series):
X  A    1
   B    4
   C    7
Y  A    2
   B    5
   C    8
Z  A    3
   B    6
   C    9
dtype: int64

Unstacked back to DataFrame:
   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

8.3.3 MultiIndex Operations with Time Series
Time series MultiIndex:
Date        Product  Region
2024-01-01  A        North     788
                     South     465
            B        North     468
                     South     339
2024-01-02  A        North     923
                     South     216
            B        North     721
                     South     109
Name: Sales, dtype: int64

Unstack by Region:
Region              North  South
Date       Product
2024-01-01 A          788    465
           B          468    339
2024-01-02 A          923    216
           B          721    109
2024-01-03 A          189    998

Unstack by Product:
Product              A    B
Date       Region
2024-01-01 North   788  468
           South   465  339
2024-01-02 North   923  721
           South   216  109
2024-01-03 North   189  909

In [13]:
# ========================================================================
# SECTION 9: TIME SERIES ANALYSIS
# ========================================================================

print("\n\n‚è∞ SECTION 9: TIME SERIES ANALYSIS")
print("-" * 50)

# 9.1 Creating time series data
print("\n9.1 Time Series Data Creation")
dates = pd.date_range('2024-01-01', periods=365, freq='D')
ts_data = pd.DataFrame({
    'Date': dates,
    'Value': np.random.randn(365).cumsum() + 100,
    'Volume': np.random.randint(50, 200, 365)
})
ts_data.set_index('Date', inplace=True)
print("Time series data (first 10 rows):")
print(ts_data.head(10))

# 9.2 Date/time operations
print("\n9.2 Date/Time Operations")
ts_data['Year'] = ts_data.index.year
ts_data['Month'] = ts_data.index.month
ts_data['DayOfWeek'] = ts_data.index.dayofweek
ts_data['IsWeekend'] = ts_data.index.dayofweek >= 5

print("With date components:")
print(ts_data.head())

# 9.3 Resampling
print("\n9.3 Resampling")
monthly_avg = ts_data.resample('M')['Value'].mean()
print("Monthly averages:")
print(monthly_avg.head())

weekly_sum = ts_data.resample('W')['Volume'].sum()
print("\nWeekly volume sums:")
print(weekly_sum.head())

# 9.4 Rolling operations
print("\n9.4 Rolling Operations")
ts_data['Value_MA7'] = ts_data['Value'].rolling(window=7).mean()
ts_data['Value_MA30'] = ts_data['Value'].rolling(window=30).mean()
ts_data['Value_Std7'] = ts_data['Value'].rolling(window=7).std()

print("With rolling statistics:")
print(ts_data[['Value', 'Value_MA7', 'Value_MA30', 'Value_Std7']].head(35))

‚è∞ SECTION 9: TIME SERIES ANALYSIS
--------------------------------------------------

9.1 Time Series Data Creation
Time series data (first 10 rows):
                 Value  Volume
Date
2024-01-01  100.349434     145
2024-01-02  100.602539     134
2024-01-03  101.914528      70
2024-01-04  102.541306     196
2024-01-05  102.176417     187
2024-01-06  101.481919      52
2024-01-07  102.127722     154
2024-01-08  100.733467      68
2024-01-09   99.663383     111
2024-01-10   99.004139     169

9.2 Date/Time Operations
With date components:
                 Value  Volume  Year  Month  DayOfWeek  IsWeekend
Date
2024-01-01  100.349434     145  2024      1          0      False
2024-01-02  100.602539     134  2024      1          1      False
2024-01-03  101.914528      70  2024      1          2      False
2024-01-04  102.541306     196  2024      1          3      False
2024-01-05  102.176417     187  2024      1          4      False

9.3 Resampling
Monthly averages:
Date
2024-01-31    100.707466
2024-02-29    102.297117
2024-03-31    101.132374
2024-04-30    100.858858
2024-05-31    100.854285
Freq: ME, Name: Value, dtype: float64

Weekly volume sums:
Date
2024-01-07    938
2024-01-14    935
2024-01-21    694
2024-01-28    836
2024-02-04    790
Freq: W-SUN, Name: Volume, dtype: int64

9.4 Rolling Operations
With rolling statistics:
                 Value   Value_MA7  Value_MA30  Value_Std7
Date
2024-01-01  100.349434         NaN         NaN         NaN
2024-01-02  100.602539         NaN         NaN         NaN
2024-01-03  101.914528         NaN         NaN         NaN
2024-01-04  102.541306         NaN         NaN         NaN
2024-01-05  102.176417         NaN         NaN         NaN
2024-01-06  101.481919         NaN         NaN         NaN
2024-01-07  102.127722  101.599124         NaN    0.833518
2024-01-08  100.733467  101.653985         NaN    0.745551
2024-01-09   99.663383  101.519820         NaN    1.005488
2024-01-10   99.004139  101.104050         NaN    1.355780
2024-01-11   99.867509  100.722079         NaN    1.256374
2024-01-12   98.668143  100.220897         NaN    1.279071
2024-01-13   97.946261   99.715803         NaN    1.391288
2024-01-14   98.190762   99.153380         NaN    0.992325
2024-01-15   99.561907   98.986015         NaN    0.750822
2024-01-16   98.936785   98.882215         NaN    0.689272
2024-01-17   99.614337   98.969386         NaN    0.743698
2024-01-18  100.617391   99.076512         NaN    0.926236
2024-01-19  100.274535   99.305997         NaN    1.003937
2024-01-20  100.942521   99.734034         NaN    0.965587
2024-01-21  102.876443  100.403417         NaN    1.287807
2024-01-22  101.647101  100.701302         NaN    1.301803
2024-01-23  100.348448  100.902968         NaN    1.071949
2024-01-24  100.751270  101.065387         NaN    0.919441
2024-01-25  100.774606  101.087846         NaN    0.908529
2024-01-26  100.082658  101.060435         NaN    0.939523
2024-01-27  101.101586  101.083159         NaN    0.938118
2024-01-28  101.422139  100.875401         NaN    0.559359
2024-01-29  101.759089  100.891399         NaN    0.586072
2024-01-30  102.658443  101.221399  100.621226    0.829280
2024-01-31  103.294648  101.584738  100.719400    1.101474
2024-02-01  104.458267  102.110976  100.847924    1.468664
2024-02-02  105.487948  102.883160  100.967038    1.635941
2024-02-03  103.997841  103.296911  101.015589    1.467879
2024-02-04  103.959741  103.659425  101.075033    1.220155

In [14]:
# ========================================================================
# SECTION 10: ADVANCED OPERATIONS
# ========================================================================

print("\n\nüöÄ SECTION 10: ADVANCED OPERATIONS")
print("-" * 50)

# 10.1 Window functions
print("\n10.1 Window Functions")
df_window = pd.DataFrame({
    'Group': ['A', 'A', 'A', 'B', 'B', 'B'],
    'Value': [10, 20, 30, 15, 25, 35]
})

df_window['Cumulative_Sum'] = df_window.groupby('Group')['Value'].cumsum()
df_window['Rank'] = df_window.groupby('Group')['Value'].rank()
df_window['Pct_Change'] = df_window.groupby('Group')['Value'].pct_change()

print("Window functions:")
print(df_window)

# 10.2 Working with categorical data
print("\n10.2 Categorical Data")
df_cat = pd.DataFrame({
    'Grade': ['A', 'B', 'C', 'A', 'B', 'D', 'C', 'A'],
    'Score': [95, 87, 78, 92, 88, 65, 82, 94]
})

# Convert to categorical with order
df_cat['Grade'] = pd.Categorical(df_cat['Grade'], 
                                categories=['D', 'C', 'B', 'A'], 
                                ordered=True)
print("Ordered categorical data:")
print(df_cat.sort_values('Grade'))

# 10.3 MultiIndex operations
print("\n10.3 MultiIndex Operations")
arrays = [
    ['A', 'A', 'B', 'B'],
    ['X', 'Y', 'X', 'Y']
]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['First', 'Second'])

df_multi = pd.DataFrame(np.random.randn(4, 2), index=index, columns=['Value1', 'Value2'])
print("MultiIndex DataFrame:")
print(df_multi)

print("\nAccessing level 'A':")
print(df_multi.loc['A'])

# 10.4 Performance optimization tips
print("\n10.4 Performance Optimization Examples")
print("""
# Use vectorized operations instead of loops
df['new_col'] = df['col1'] * df['col2']  # Good
# df['new_col'] = df.apply(lambda x: x['col1'] * x['col2'], axis=1)  # Slower

# Use loc/iloc for specific indexing
df.loc[df['col'] > 5, 'new_col'] = 'High'  # Good

# Use query for complex filtering
df.query('col1 > 5 and col2 < 10')  # Often faster than boolean indexing

# Use categorical for repeated string data
df['category'] = df['category'].astype('category')

# Use appropriate data types
df['int_col'] = df['int_col'].astype('int32')  # Instead of int64 if possible
""")

üöÄ SECTION 10: ADVANCED OPERATIONS
--------------------------------------------------

10.1 Window Functions
Window functions:
  Group  Value  Cumulative_Sum  Rank  Pct_Change
0     A     10              10   1.0         NaN
1     A     20              30   2.0    1.000000
2     A     30              60   3.0    0.500000
3     B     15              15   1.0         NaN
4     B     25              40   2.0    0.666667
5     B     35              75   3.0    0.400000

10.2 Categorical Data
Ordered categorical data:
  Grade  Score
5     D     65
2     C     78
6     C     82
1     B     87
4     B     88
0     A     95
3     A     92
7     A     94

10.3 MultiIndex Operations
MultiIndex DataFrame:
                Value1    Value2
First Second
A     X      -1.060933  1.526926
      Y      -0.290549 -0.802844
B     X      -0.156097  0.850366
      Y      -0.655960  0.843614

Accessing level 'A':
          Value1    Value2
Second
X      -1.060933  1.526926
Y      -0.290549 -0.802844

10.4 Performance Optimization Examples

# Use vectorized operations instead of loops
df['new_col'] = df['col1'] * df['col2']  # Good
# df['new_col'] = df.apply(lambda x: x['col1'] * x['col2'], axis=1)  # Slower

# Use loc/iloc for specific indexing
df.loc[df['col'] > 5, 'new_col'] = 'High'  # Good

# Use query for complex filtering
df.query('col1 > 5 and col2 < 10')  # Often faster than boolean indexing

# Use categorical for repeated string data
df['category'] = df['category'].astype('category')

# Use appropriate data types
df['int_col'] = df['int_col'].astype('int32')  # Instead of int64 if possible

In [15]:
# ========================================================================
# SECTION 11: DATA VISUALIZATION WITH PANDAS
# ========================================================================

print("\n\nüìà SECTION 11: DATA VISUALIZATION WITH PANDAS")
print("-" * 50)

# 11.1 Basic plotting
print("\n11.1 Basic Plotting Examples")
print("Creating sample visualization data...")

# Sample data for plotting
plot_data = pd.DataFrame({
    'x': range(10),
    'y1': np.random.randn(10).cumsum(),
    'y2': np.random.randn(10).cumsum(),
    'category': np.random.choice(['A', 'B'], 10)
})

print("Sample plotting code:")
print("""
# Line plot
plot_data.plot(x='x', y=['y1', 'y2'], kind='line', title='Line Plot')

# Bar plot
df_employees.plot(x='Name', y='Salary', kind='bar', title='Salary by Employee')

# Histogram
df_employees['Age'].plot(kind='hist', bins=10, title='Age Distribution')

# Box plot
sales_data.boxplot(column='Sales', by='Product')

# Scatter plot
plot_data.plot(x='y1', y='y2', kind='scatter', title='Scatter Plot')

# Correlation heatmap (using seaborn)
import seaborn as sns
numeric_data = df_employees.select_dtypes(include=[np.number])
sns.heatmap(numeric_data.corr(), annot=True)
""")

üìà SECTION 11: DATA VISUALIZATION WITH PANDAS
--------------------------------------------------

11.1 Basic Plotting Examples
Creating sample visualization data...
Sample plotting code:

# Line plot
plot_data.plot(x='x', y=['y1', 'y2'], kind='line', title='Line Plot')

# Bar plot
df_employees.plot(x='Name', y='Salary', kind='bar', title='Salary by Employee')

# Histogram
df_employees['Age'].plot(kind='hist', bins=10, title='Age Distribution')

# Box plot
sales_data.boxplot(column='Sales', by='Product')

# Scatter plot
plot_data.plot(x='y1', y='y2', kind='scatter', title='Scatter Plot')

# Correlation heatmap (using seaborn)
import seaborn as sns
numeric_data = df_employees.select_dtypes(include=[np.number])
sns.heatmap(numeric_data.corr(), annot=True)

In [16]:
# ========================================================================
# SECTION 12: MACHINE LEARNING PREPROCESSING WITH PANDAS
# ========================================================================

print("\n\nü§ñ SECTION 12: MACHINE LEARNING PREPROCESSING")
print("-" * 50)

# 12.1 Feature engineering
print("\n12.1 Feature Engineering")
ml_data = pd.DataFrame({
    'age': [25, 30, 35, 40, 45, 50],
    'income': [50000, 60000, 70000, 80000, 90000, 100000],
    'education': ['High School', 'Bachelor', 'Master', 'PhD', 'Bachelor', 'High School'],
    'experience': [2, 5, 8, 12, 15, 20]
})

# Create new features
ml_data['income_per_year_exp'] = ml_data['income'] / ml_data['experience']
ml_data['age_group'] = pd.cut(ml_data['age'], bins=[0, 30, 40, 100], labels=['Young', 'Middle', 'Senior'])

# One-hot encoding
education_dummies = pd.get_dummies(ml_data['education'], prefix='education')
ml_data = pd.concat([ml_data, education_dummies], axis=1)

print("Feature engineered data:")
print(ml_data)

# 12.2 Train-test split preparation
print("\n12.2 Train-Test Split Preparation")
print("""
# Prepare data for sklearn
from sklearn.model_selection import train_test_split

# Separate features and target
X = ml_data.drop(['target_column'], axis=1)  # Features
y = ml_data['target_column']  # Target

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Handle categorical variables
X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(X_test)

# Ensure both sets have same columns
X_train_encoded, X_test_encoded = X_train_encoded.align(X_test_encoded, join='left', axis=1, fill_value=0)
""")

# 12.3 Scaling and normalization
print("\n12.3 Scaling and Normalization")
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Demonstrate scaling
scaler = StandardScaler()
numeric_cols = ['age', 'income', 'experience']
ml_data_scaled = ml_data.copy()
ml_data_scaled[numeric_cols] = scaler.fit_transform(ml_data[numeric_cols])

print("Original vs Scaled data:")
print("Original:")
print(ml_data[numeric_cols].head())
print("\nScaled:")
print(ml_data_scaled[numeric_cols].head())

ü§ñ SECTION 12: MACHINE LEARNING PREPROCESSING
--------------------------------------------------

12.1 Feature Engineering
Feature engineered data:
   age  income    education  experience  income_per_year_exp age_group  \
0   25   50000  High School           2         25000.000000     Young
1   30   60000     Bachelor           5         12000.000000     Young
2   35   70000       Master           8          8750.000000    Middle
3   40   80000          PhD          12          6666.666667    Middle
4   45   90000     Bachelor          15          6000.000000    Senior
5   50  100000  High School          20          5000.000000    Senior

   education_Bachelor  education_High School  education_Master  education_PhD
0               False                   True             False          False
1                True                  False             False          False
2               False                  False              True          False
3               False                  False             False           True
4                True                  False             False          False
5               False                   True             False          False

12.2 Train-Test Split Preparation

# Prepare data for sklearn
from sklearn.model_selection import train_test_split

# Separate features and target
X = ml_data.drop(['target_column'], axis=1)  # Features
y = ml_data['target_column']  # Target

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Handle categorical variables
X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(X_test)

# Ensure both sets have same columns
X_train_encoded, X_test_encoded = X_train_encoded.align(X_test_encoded, join='left', axis=1, fill_value=0)


12.3 Scaling and Normalization
Original vs Scaled data:
Original:
   age  income  experience
0   25   50000           2
1   30   60000           5
2   35   70000           8
3   40   80000          12
4   45   90000          15

Scaled:
       age   income  experience
0 -1.46385 -1.46385   -1.372053
1 -0.87831 -0.87831   -0.878114
2 -0.29277 -0.29277   -0.384175
3  0.29277  0.29277    0.274411
4  0.87831  0.87831    0.768350

In [17]:
# ========================================================================
# SECTION 13: PERFORMANCE OPTIMIZATION AND BEST PRACTICES
# ========================================================================

print("\n\n‚ö° SECTION 13: PERFORMANCE OPTIMIZATION AND BEST PRACTICES")
print("-" * 50)

print("\n13.1 Memory Optimization")
print("""
# Check memory usage
df.info(memory_usage='deep')

# Optimize data types
df['int_col'] = df['int_col'].astype('int32')  # If values fit
df['float_col'] = df['float_col'].astype('float32')  # If precision allows
df['string_col'] = df['string_col'].astype('category')  # For repeated strings

# Use sparse arrays for mostly zero data
df['sparse_col'] = df['mostly_zero_col'].astype(pd.SparseDtype("float", 0.0))
""")

print("\n13.2 Efficient Operations")
print("""
# Use vectorized operations
df['result'] = df['col1'] * df['col2']  # Fast
# Avoid: df['result'] = df.apply(lambda x: x['col1'] * x['col2'], axis=1)  # Slow

# Use loc/iloc for indexing
df.loc[mask, 'col'] = value  # Fast
# Avoid: df[mask]['col'] = value  # Can be problematic

# Use query for complex filtering
result = df.query('col1 > 5 and col2 < 10 and col3 == "value"')  # Often faster

# Chain operations efficiently
result = (df
    .query('sales > 1000')
    .groupby('category')
    .agg({'sales': 'sum', 'quantity': 'mean'})
    .sort_values('sales', ascending=False)
)
""")

print("\n13.3 Memory-Efficient Data Loading")
print("""
# Read large files in chunks
chunk_size = 10000
chunks = []
for chunk in pd.read_csv('large_file.csv', chunksize=chunk_size):
    # Process each chunk
    processed_chunk = chunk.groupby('category').sum()
    chunks.append(processed_chunk)
result = pd.concat(chunks, ignore_index=True)

# Specify data types when reading
dtypes = {'col1': 'int32', 'col2': 'category', 'col3': 'float32'}
df = pd.read_csv('file.csv', dtype=dtypes)

# Read only necessary columns
df = pd.read_csv('file.csv', usecols=['col1', 'col2', 'col3'])
""")

‚ö° SECTION 13: PERFORMANCE OPTIMIZATION AND BEST PRACTICES
--------------------------------------------------

13.1 Memory Optimization

# Check memory usage
df.info(memory_usage='deep')

# Optimize data types
df['int_col'] = df['int_col'].astype('int32')  # If values fit
df['float_col'] = df['float_col'].astype('float32')  # If precision allows
df['string_col'] = df['string_col'].astype('category')  # For repeated strings

# Use sparse arrays for mostly zero data
df['sparse_col'] = df['mostly_zero_col'].astype(pd.SparseDtype("float", 0.0))


13.2 Efficient Operations

# Use vectorized operations
df['result'] = df['col1'] * df['col2']  # Fast
# Avoid: df['result'] = df.apply(lambda x: x['col1'] * x['col2'], axis=1)  # Slow

# Use loc/iloc for indexing
df.loc[mask, 'col'] = value  # Fast
# Avoid: df[mask]['col'] = value  # Can be problematic

# Use query for complex filtering
result = df.query('col1 > 5 and col2 < 10 and col3 == "value"')  # Often faster

# Chain operations efficiently
result = (df
    .query('sales > 1000')
    .groupby('category')
    .agg({'sales': 'sum', 'quantity': 'mean'})
    .sort_values('sales', ascending=False)
)


13.3 Memory-Efficient Data Loading

# Read large files in chunks
chunk_size = 10000
chunks = []
for chunk in pd.read_csv('large_file.csv', chunksize=chunk_size):
    # Process each chunk
    processed_chunk = chunk.groupby('category').sum()
    chunks.append(processed_chunk)
result = pd.concat(chunks, ignore_index=True)

# Specify data types when reading
dtypes = {'col1': 'int32', 'col2': 'category', 'col3': 'float32'}
df = pd.read_csv('file.csv', dtype=dtypes)

# Read only necessary columns
df = pd.read_csv('file.csv', usecols=['col1', 'col2', 'col3'])

In [18]:
# ========================================================================
# SECTION 14: COMMON PANDAS PATTERNS AND TRICKS
# ========================================================================

print("\n\nüí° SECTION 14: COMMON PANDAS PATTERNS AND TRICKS")
print("-" * 50)

# 14.1 Conditional operations
print("\n14.1 Conditional Operations")
sample_df = pd.DataFrame({
    'score': [85, 92, 78, 96, 88, 71, 94],
    'subject': ['Math', 'Science', 'Math', 'Science', 'Math', 'Science', 'Math']
})

# Using np.where
sample_df['grade'] = np.where(sample_df['score'] >= 90, 'A',
                     np.where(sample_df['score'] >= 80, 'B',
                     np.where(sample_df['score'] >= 70, 'C', 'F')))

# Using loc for conditional assignment
sample_df.loc[sample_df['score'] >= 95, 'excellence'] = 'Outstanding'
sample_df.loc[sample_df['score'] < 95, 'excellence'] = 'Good'

print("Conditional operations result:")
print(sample_df)

# 14.2 Working with duplicates advanced
print("\n14.2 Advanced Duplicate Handling")
df_dupes = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'age': [25, 30, 25, 35, 31],  # Bob has different ages
    'city': ['NY', 'LA', 'NY', 'Chicago', 'LA']
})

print("Original data with duplicates:")
print(df_dupes)

# Keep last occurrence
print("\nKeep last duplicate:")
print(df_dupes.drop_duplicates(subset=['name'], keep='last'))

# Find duplicates
print("\nDuplicate rows:")
print(df_dupes[df_dupes.duplicated(subset=['name'], keep=False)])

# 14.3 String pattern matching
print("\n14.3 String Pattern Matching")
text_df = pd.DataFrame({
    'email': ['alice@gmail.com', 'bob@yahoo.com', 'charlie@company.org', 'diana@gmail.com'],
    'phone': ['123-456-7890', '(555) 123-4567', '555.123.4567', '123 456 7890']
})

# Extract email domains
text_df['domain'] = text_df['email'].str.extract(r'@(\w+\.\w+)')

# Extract phone numbers (digits only)
text_df['phone_clean'] = text_df['phone'].str.replace(r'[^\d]', '', regex=True)

# Check for Gmail users
text_df['is_gmail'] = text_df['email'].str.contains('gmail', case=False)

print("String pattern matching results:")
print(text_df)

# 14.4 Working with JSON-like data
print("\n14.4 Working with JSON-like Data")
json_data = pd.DataFrame({
    'id': [1, 2, 3],
    'info': [
        {'name': 'Alice', 'skills': ['Python', 'SQL']},
        {'name': 'Bob', 'skills': ['R', 'Excel', 'Python']},
        {'name': 'Charlie', 'skills': ['Java', 'Python']}
    ]
})

# Normalize JSON data
normalized = pd.json_normalize(json_data['info'])
print("Normalized JSON data:")
print(normalized)

# Combine with original DataFrame
result = pd.concat([json_data[['id']], normalized], axis=1)
print("\nCombined result:")
print(result)

üí° SECTION 14: COMMON PANDAS PATTERNS AND TRICKS
--------------------------------------------------

14.1 Conditional Operations
Conditional operations result:
   score  subject grade   excellence
0     85     Math     B         Good
1     92  Science     A         Good
2     78     Math     C         Good
3     96  Science     A  Outstanding
4     88     Math     B         Good
5     71  Science     C         Good
6     94     Math     A         Good

14.2 Advanced Duplicate Handling
Original data with duplicates:
      name  age     city
0    Alice   25       NY
1      Bob   30       LA
2    Alice   25       NY
3  Charlie   35  Chicago
4      Bob   31       LA

Keep last duplicate:
      name  age     city
2    Alice   25       NY
3  Charlie   35  Chicago
4      Bob   31       LA

Duplicate rows:
    name  age city
0  Alice   25   NY
1    Bob   30   LA
2  Alice   25   NY
4    Bob   31   LA

14.3 String Pattern Matching
String pattern matching results:
                 email           phone       domain phone_clean  is_gmail
0      alice@gmail.com    123-456-7890    gmail.com  1234567890      True
1        bob@yahoo.com  (555) 123-4567    yahoo.com  5551234567     False
2  charlie@company.org    555.123.4567  company.org  5551234567     False
3      diana@gmail.com    123 456 7890    gmail.com  1234567890      True

14.4 Working with JSON-like Data
Normalized JSON data:
      name              skills
0    Alice       [Python, SQL]
1      Bob  [R, Excel, Python]
2  Charlie      [Java, Python]

Combined result:
   id     name              skills
0   1    Alice       [Python, SQL]
1   2      Bob  [R, Excel, Python]
2   3  Charlie      [Java, Python]

In [19]:
# ========================================================================
# SECTION 15: PANDAS WITH REAL-WORLD SCENARIOS
# ========================================================================

print("\n\nüåç SECTION 15: REAL-WORLD SCENARIOS")
print("-" * 50)

# 15.1 Sales analysis scenario
print("\n15.1 Sales Analysis Scenario")
# Creating realistic sales data
np.random.seed(42)
dates = pd.date_range('2023-01-01', '2024-12-31', freq='D')
products = ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Tablet']
regions = ['North', 'South', 'East', 'West']

sales_scenario = pd.DataFrame({
    'date': np.random.choice(dates, 1000),
    'product': np.random.choice(products, 1000),
    'region': np.random.choice(regions, 1000),
    'quantity': np.random.randint(1, 10, 1000),
    'unit_price': np.random.uniform(50, 1000, 1000),
    'salesperson': np.random.choice(['Alice', 'Bob', 'Charlie', 'Diana'], 1000)
})

sales_scenario['total_sales'] = sales_scenario['quantity'] * sales_scenario['unit_price']
sales_scenario['month'] = sales_scenario['date'].dt.to_period('M')

print("Sales data sample:")
print(sales_scenario.head())

# Analysis examples
print("\nTop performing products by total sales:")
product_performance = sales_scenario.groupby('product')['total_sales'].sum().sort_values(ascending=False)
print(product_performance)

print("\nMonthly sales trend:")
monthly_sales = sales_scenario.groupby('month')['total_sales'].sum()
print(monthly_sales.head())

print("\nSalesperson performance by region:")
salesperson_region = sales_scenario.groupby(['salesperson', 'region'])['total_sales'].sum().unstack(fill_value=0)
print(salesperson_region)

# 15.2 Customer segmentation scenario
print("\n15.2 Customer Segmentation Scenario")
customer_data = pd.DataFrame({
    'customer_id': range(1, 501),
    'age': np.random.randint(18, 80, 500),
    'annual_income': np.random.normal(50000, 20000, 500),
    'spending_score': np.random.randint(1, 100, 500),
    'total_purchases': np.random.randint(1, 50, 500),
    'avg_order_value': np.random.uniform(20, 500, 500)
})

# Create customer segments
customer_data['income_tier'] = pd.cut(customer_data['annual_income'], 
                                    bins=[0, 30000, 60000, 100000, float('inf')],
                                    labels=['Low', 'Medium', 'High', 'Premium'])

customer_data['age_group'] = pd.cut(customer_data['age'],
                                  bins=[0, 25, 35, 50, 65, 100],
                                  labels=['18-25', '26-35', '36-50', '51-65', '65+'])

# Calculate customer lifetime value
customer_data['clv'] = customer_data['total_purchases'] * customer_data['avg_order_value']

print("Customer segmentation sample:")
print(customer_data.head())

print("\nCustomer segments by income and age:")
segment_analysis = customer_data.groupby(['income_tier', 'age_group']).agg({
    'customer_id': 'count',
    'clv': 'mean',
    'spending_score': 'mean'
}).round(2)
print(segment_analysis)

üåç SECTION 15: REAL-WORLD SCENARIOS
--------------------------------------------------

15.1 Sales Analysis Scenario
Sales data sample:
        date   product region  quantity  unit_price salesperson  total_sales  \
0 2023-04-13    Laptop  North         6  601.084393       Diana  3606.506358
1 2024-03-11    Laptop  South         7  540.863466       Diana  3786.044262
2 2023-09-28    Laptop   West         3  770.837441       Alice  2312.512323
3 2023-04-17  Keyboard   West         7  318.371263         Bob  2228.598839
4 2023-03-13  Keyboard  South         8  385.397872         Bob  3083.182976

     month
0  2023-04
1  2024-03
2  2023-09
3  2023-04
4  2023-03

Top performing products by total sales:
product
Tablet      563951.036749
Laptop      547566.827839
Keyboard    532429.276217
Monitor     493689.593250
Mouse       475348.107952
Name: total_sales, dtype: float64

Monthly sales trend:
month
2023-01    136341.570655
2023-02    119051.606408
2023-03     94364.630159
2023-04    156683.888313
2023-05    118408.613459
Freq: M, Name: total_sales, dtype: float64

Salesperson performance by region:
region                East          North          South           West
salesperson
Alice        117593.068155  131961.384454  185305.914010  185439.284020
Bob          175481.963064  145408.438462  143333.940300  175483.194229
Charlie      139560.953276  146764.033037  181023.585847  196100.834403
Diana        150268.082089  180448.471621  196388.793616  162422.901423

15.2 Customer Segmentation Scenario
Customer segmentation sample:
   customer_id  age  annual_income  spending_score  total_purchases  \
0            1   56   38700.361779              88               29
1            2   75   58464.247489              49               39
2            3   32   56629.705240              90                4
3            4   24   52835.317179              80                3
4            5   46   27312.072346              57               29

   avg_order_value income_tier age_group           clv
0       159.679707      Medium     51-65   4630.711503
1       437.100370      Medium       65+  17046.914446
2       454.137350      Medium     26-35   1816.549398
3        20.358900      Medium     18-25     61.076700
4       305.185468         Low     36-50   8850.378569

Customer segments by income and age:
                       customer_id      clv  spending_score
income_tier age_group
Low         18-25                7  6498.88           40.86
            26-35               14  6730.57           49.14
            36-50               17  7098.88           52.12
            51-65               22  6301.59           51.73
            65+                  9  8746.47           43.11
Medium      18-25               31  6479.69           50.55
            26-35               51  5830.91           58.20
            36-50               72  6258.22           50.75
            51-65               61  7717.90           47.93
            65+                 66  6363.52           53.68
High        18-25               18  4404.00           47.89
            26-35               18  4823.68           52.06
            36-50               31  8273.24           51.74
            51-65               42  6182.48           57.86
            65+                 35  6268.38           47.26
Premium     18-25                0      NaN             NaN
            26-35                0      NaN             NaN
            36-50                0      NaN             NaN
            51-65                0      NaN             NaN
            65+                  1  2828.78           83.00

In [20]:
# ========================================================================
# SECTION 16: ERROR HANDLING AND DEBUGGING
# ========================================================================

print("\n\nüêõ SECTION 16: ERROR HANDLING AND DEBUGGING")
print("-" * 50)

print("\n16.1 Common Pandas Errors and Solutions")
print("""
# KeyError: Column doesn't exist
try:
    result = df['non_existent_column']
except KeyError as e:
    print(f"Column not found: {e}")
    print("Available columns:", df.columns.tolist())

# TypeError: Incompatible data types
try:
    result = df['string_col'] + df['numeric_col']
except TypeError as e:
    print(f"Type error: {e}")
    # Convert types first
    df['string_col'] = pd.to_numeric(df['string_col'], errors='coerce')

# ValueError: Cannot convert data
try:
    df['date_col'] = pd.to_datetime(df['bad_date_col'])
except ValueError as e:
    print(f"Date conversion error: {e}")
    # Use errors parameter
    df['date_col'] = pd.to_datetime(df['bad_date_col'], errors='coerce')

# SettingWithCopyWarning
# Avoid: df[df['col'] > 5]['new_col'] = value
# Use instead: df.loc[df['col'] > 5, 'new_col'] = value
""")

print("\n16.2 Debugging Techniques")
print("""
# Check data types
print(df.dtypes)

# Check for missing values
print(df.isnull().sum())

# Check unique values
print(df['problematic_col'].unique())

# Sample data for inspection
print(df.sample(10))

# Check memory usage
print(df.info(memory_usage='deep'))

# Validate data ranges
print(df.describe())

# Check for duplicates
print(f"Duplicates: {df.duplicated().sum()}")
""")

üêõ SECTION 16: ERROR HANDLING AND DEBUGGING
--------------------------------------------------

16.1 Common Pandas Errors and Solutions

# KeyError: Column doesn't exist
try:
    result = df['non_existent_column']
except KeyError as e:
    print(f"Column not found: {e}")
    print("Available columns:", df.columns.tolist())

# TypeError: Incompatible data types
try:
    result = df['string_col'] + df['numeric_col']
except TypeError as e:
    print(f"Type error: {e}")
    # Convert types first
    df['string_col'] = pd.to_numeric(df['string_col'], errors='coerce')

# ValueError: Cannot convert data
try:
    df['date_col'] = pd.to_datetime(df['bad_date_col'])
except ValueError as e:
    print(f"Date conversion error: {e}")
    # Use errors parameter
    df['date_col'] = pd.to_datetime(df['bad_date_col'], errors='coerce')

# SettingWithCopyWarning
# Avoid: df[df['col'] > 5]['new_col'] = value
# Use instead: df.loc[df['col'] > 5, 'new_col'] = value


16.2 Debugging Techniques

# Check data types
print(df.dtypes)

# Check for missing values
print(df.isnull().sum())

# Check unique values
print(df['problematic_col'].unique())

# Sample data for inspection
print(df.sample(10))

# Check memory usage
print(df.info(memory_usage='deep'))

# Validate data ranges
print(df.describe())

# Check for duplicates
print(f"Duplicates: {df.duplicated().sum()}")

In [21]:
# ========================================================================
# SECTION 17: INTEGRATION WITH OTHER LIBRARIES
# ========================================================================

print("\n\nüîß SECTION 17: INTEGRATION WITH OTHER LIBRARIES")
print("-" * 50)

print("\n17.1 Integration Examples")
print("""
# Pandas + NumPy
import numpy as np
df['log_values'] = np.log(df['positive_values'])
df['sqrt_values'] = np.sqrt(df['values'])

# Pandas + Scikit-learn
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

# Encode categorical variables
le = LabelEncoder()
df['category_encoded'] = le.fit_transform(df['category'])

# Scale numerical features
scaler = StandardScaler()
df[['feature1', 'feature2']] = scaler.fit_transform(df[['feature1', 'feature2']])

# Pandas + Matplotlib/Seaborn
import matplotlib.pyplot as plt
import seaborn as sns

# Direct plotting from pandas
df.plot(kind='scatter', x='x_col', y='y_col')

# Using seaborn with pandas
sns.boxplot(data=df, x='category', y='value')

# Pandas + Statsmodels
import statsmodels.api as sm

# Regression analysis
X = df[['feature1', 'feature2']]
y = df['target']
X = sm.add_constant(X)  # Add intercept
model = sm.OLS(y, X).fit()
""")

üîß SECTION 17: INTEGRATION WITH OTHER LIBRARIES
--------------------------------------------------

17.1 Integration Examples

# Pandas + NumPy
import numpy as np
df['log_values'] = np.log(df['positive_values'])
df['sqrt_values'] = np.sqrt(df['values'])

# Pandas + Scikit-learn
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

# Encode categorical variables
le = LabelEncoder()
df['category_encoded'] = le.fit_transform(df['category'])

# Scale numerical features
scaler = StandardScaler()
df[['feature1', 'feature2']] = scaler.fit_transform(df[['feature1', 'feature2']])

# Pandas + Matplotlib/Seaborn
import matplotlib.pyplot as plt
import seaborn as sns

# Direct plotting from pandas
df.plot(kind='scatter', x='x_col', y='y_col')

# Using seaborn with pandas
sns.boxplot(data=df, x='category', y='value')

# Pandas + Statsmodels
import statsmodels.api as sm

# Regression analysis
X = df[['feature1', 'feature2']]
y = df['target']
X = sm.add_constant(X)  # Add intercept
model = sm.OLS(y, X).fit()